{
    "plugins": ["react-hooks"],
    "extends": [
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "plugin:react-hooks/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "off",
        "react/prop-types": 0,
        "react/display-name": "off",
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "react/no-children-prop": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
