<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='application-name' content='' />
    <meta name='apple-mobile-web-app-title' content='' />
    <meta name='theme-color' content='#000000' />
    <meta name='msapplication-navbutton-color' content='#000000' />
    <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent' />
    <meta name='msapplication-starturl' content='/' />
    <meta name='Title' content='' />
    <meta name='Description' content='' />
    <base href='/' />
    <link rel='stylesheet' type='text/css' href='css/styles.css' />

    <title>{{pageInfo.title}}</title>
  </head>

  <body>

    {{{body}}}

    <link rel='stylesheet' type='text/css' href='js/app.css' />

  </body>
</html>